:root 
{
    --background-dark-primary: #1976D2;
    --background-light-primary: #BBDEFB;
    --background-primary: #2196F3;
    --background-icons: #FFFFFF;
    --background-accent: #FFC107;
    --background-primary-text: #212121;
    --background-secondary-text: #757575;
    --background-divider: #BDBDBD;
}