@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.header {
    background: var(--background-primary);
    color:floralwhite;
    min-height: 100px;
    max-height: 100px;
}

.active {
    background: var(--background-accent);
}

.header-page-selector {
    background: var(--background-dark-primary);
    padding: 5px 0;
}

.header-page-selector a {
    color: white;    
}