<div *ngIf="showSpinner == true">
    <div fxLayout="column" fxLayoutAlign="center center" class="loading-page-spinner">
        <mat-progress-spinner 
            diameter="70"
            mode="indeterminate" ></mat-progress-spinner>
    </div>    
</div>
<div *ngIf="showSpinner == false" class="custom-container">
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <form fxFlex="100">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Ricerca il Paese da analizzare</mat-label>
                <mat-icon matSuffix>search</mat-icon>
                <input type="text" matInput [matAutocomplete]="auto" [formControl]="autocompleteForm">
                <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn" (optionSelected)='getCountryData($event.option.value);'>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}}

                    </mat-option>
                </mat-autocomplete>
                <mat-hint>*Nomi dei Paesi in Inglese</mat-hint>
            </mat-form-field>
        </form>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <h2 fxFlex="100">{{country}}</h2>
    </div>
    <mat-divider></mat-divider>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <app-card [type]="'cases_total'" [header]="'Casi Totali'" [data]="data" [subtitle]="'Casi confermati'"
            fxFlex="50"></app-card>
        <app-card [type]="'cases_daily'" [header]="'Casi Giornalieri'" [data]="data"
            [subtitle]="'Casi confermati'" fxFlex="50"></app-card>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <app-ctry-timeline [type]="'cases'" [data]="data" [color]="'#1976D2'" [heigth]="100" fxFlex="50"></app-ctry-timeline>
        <app-ctry-timeline [type]="'tests'" [data]="data" [color]="'#388E3C'" [heigth]="100" fxFlex="50"></app-ctry-timeline>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <app-card [type]="'deaths_total'" [header]="'Morti Totali'" [data]="data"
            [subtitle]="'Morti Confermate'" fxFlex="50"></app-card>
        <app-card [type]="'deaths_daily'" [header]="'Morti Giornaliere'" [data]="data"
            [subtitle]="'Morti Confermate'" fxFlex="50"></app-card>
    </div>
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <app-ow-timeline [type]="'death'" [data]="data" [color]="'#D32F2F'" fxFlex="100"></app-ow-timeline>
    </div>
    <br>
    <br>   
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <h2 fxFlex="100">Analisi Statistica</h2>
    </div> 
    <mat-divider></mat-divider>
    <br>   
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <div fxFlex="50">
            <h3>Regressione lineare e Correlazione</h3>           
        </div>  
        <div fxFlex="50">
            <h3>Coefficiente di Pearson Casi Giornalieri</h3>           
        </div>      
    </div> 
    <br>
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <div fxFlex="50">
            <p> La retta mostra il legame funzionale che descrive una possible relazione tra i dati</p>
            <app-ctry-timeline [type]="'regressione_lineare_cases'" [data]="data" [heigth]="120" [color]="'#1976D2'"></app-ctry-timeline>
        </div>
        <div fxFlex="50">
            <p> Mostra il grado di approssimazione dei dati</p>
            <app-ctry-timeline [type]="'pearson_cases'" [data]="data" [heigth]="120" [color]="'#1976D2'"></app-ctry-timeline>
        </div>        
    </div>
    <br>
</div>