.custom-container {
  width: 90%;
  margin: 20px auto;
}

.stats-cards {
   .mat-card {
     overflow: hidden;
   }
}

.loading-page-spinner {
    width: 100vw;
    height: 100vh;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .custom-container {
      width: 100%;
    }
}