<div *ngIf="showSpinner == true">
    <div fxLayout="column" fxLayoutAlign="center center" class="loading-page-spinner">
        <mat-progress-spinner 
            diameter="70"
            mode="indeterminate" ></mat-progress-spinner>
    </div>    
</div>
<div *ngIf="showSpinner == false" class="custom-container">
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <form fxFlex="100">
            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Country Name</mat-label>
                <mat-icon matSuffix>search</mat-icon>
                <input type="text" matInput [matAutocomplete]="auto" [formControl]="autocompleteForm">
                <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn" (optionSelected)='getCountryData($event.option.value);'>
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2 fxFlex="100">{{country}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-divider></mat-divider>
        </div>
    </div>

    <div class="row text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <app-card [type]="'cases_total'" [header]="'Total Cases'" [data]="data" [subtitle]="'Confirmed Cases'"></app-card>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <app-card [type]="'cases_daily'" [header]="'Daily Cases'" [data]="data"
            [subtitle]="'Confirmed Cases'"></app-card>
        </div>              
    </div>
    <br>

    <div class="row text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <app-ctry-timeline [type]="'cases'" [data]="data" [color]="'#1976D2'" [heigth]="400"></app-ctry-timeline>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <app-ctry-timeline [type]="'tests'" [data]="data" [color]="'#388E3C'" [heigth]="400"></app-ctry-timeline>
        </div>              
    </div>    
    <br>

    <div class="row text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <app-card [type]="'deaths_total'" [header]="'Total Deaths'" [data]="data"
            [subtitle]="'Confirmed Deaths'"></app-card>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <app-card [type]="'deaths_daily'" [header]="'Daily Deaths'" [data]="data"
            [subtitle]="'Confirmed Deaths'"></app-card>
        </div>              
    </div>
    <br>

    <div class="row stats-cards">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <app-ow-timeline [type]="'death'" [data]="data" [color]="'#D32F2F'"></app-ow-timeline>
        </div>
    </div>
    <br>  
    <br> 
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Statistic Analysis</h3>
            <mat-hint>* Dataset is external to this web project, some data may be incomplete</mat-hint>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <mat-divider></mat-divider>
        </div>
    </div>
    <br>
   
    <div class="row text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <app-correlation-chart [type]="'correlation_cases_tests'" [title]="'Cases-Tests'" [data]="data" [heigth]="400"></app-correlation-chart>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <app-correlation-chart [type]="'correlation_cases_deaths'" [title]="'Cases-Deaths'" [data]="data" [heigth]="400"></app-correlation-chart>
        </div>              
    </div>
    <br>

    <div class="row text-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <app-positive-test-chart [data]="data" [heigth]="400"></app-positive-test-chart>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <app-media-chart [days]="7" [data]="data" [heigth]="400"></app-media-chart>  
        </div>              
    </div>
    <br>
   
</div>