
<div>
  <h4>Average cases over days</h4> 
  <p> <mat-select [(ngModel)]="days" (ngModelChange)="getMedia()" style="width: 50px;">
    <mat-option *ngFor="let giorno of giorni" [value]="giorno">
      {{giorno}}
    </mat-option>
  </mat-select></p>
         
    <div>
      <canvas baseChart
              [height]="heigth"
              [datasets]="mediaChartData"
              [labels]="mediaChartLabels"
              [options]="mediaChartOptions"
              [legend]="mediaChartLegend"
              [chartType]="mediaChartType"
              >
      </canvas>
    </div>
  </div>